/* CORPO */
body {
    margin: 30px 7% 0px 7%;
    text-align: center;
}

/* CAIXA DE TEXTO */
.ImputBox {
    /* CAIXA */
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(234, 234, 234, 1);
    margin: 0px 0px 15px 0px;
    border-radius: 20px;
    padding: 15px;
    padding-left: 50px;
    border: 0px;
    cursor: text;
    /* TEXTO INSERIDO */
    font-family: "Poppins", sans-serif;
    color:rgba(145, 17, 16, 1);
    font-size: 15px;
}

.SeePhotos {
    /* CAIXA */
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(245, 245, 245, 1);
    margin: 10px 0px 30px 0px;
    border-radius: 25px;
    padding: 18px;
    padding-left: 55px;
    border: 0px;
    cursor: pointer;
    width: 85%;
    text-align: left;
}

/* TEXTO PADRÃO */
input::placeholder {
    color: rgba(145, 17, 16, 1);
}

/* ICONE DAS CAIXAS */
#nome {
    background-image: url('media/pessoa.png');
    background-position: 15px center;
    background-repeat: no-repeat; 
    background-size: 25px;
}

#email {
    background-image: url('media/email.png');
    background-position: 15px center;
    background-repeat: no-repeat; 
    background-size: 25px;
}

#cpf {
    background-image: url('media/cpf.png');
    background-position: 15px center;
    background-repeat: no-repeat; 
    background-size: 23px;
}

#SelectPC {
    background-image: url('media/choose.png');
    background-position: 15px center;
    background-repeat: no-repeat; 
    background-size: 25px;
}

#SelectD {
    background-image: url('media/Calendario.png');
    background-position: 15px center;
    background-repeat: no-repeat; 
    background-size: 25px;
}

#Glr {
    background-image: url('media/cameraw.png');
    background-position: 15px center;
    background-repeat: no-repeat; 
    background-size: 25px;
}

#Dwld{
    background-image: url('media/download.png');
    background-position: 15px center;
    background-repeat: no-repeat; 
    background-size: 25px;
}

.form {
    flex-flow: column;
    display: flex;
}

/* BOTÕES */
.btn {
    background: linear-gradient(to right,rgba(211, 73, 73, 1), rgba(145, 17, 16, 1));
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.178);
    font-family: "Poppins", sans-serif;
    border-radius: 50px;
    padding: 10px 30px;
    margin-bottom: 20px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    border: 0px;
}

.Btn2 {
    /* CAIXA */
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(145, 17, 16, 1);
    margin: 10px 0px 10px 0px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    padding: 18px;
    border: 0px;
    width: 100%;
    /* FONTE */
    font-family: "Poppins", sans-serif;
    color: white;
}

.Btn3 {
    /* CAIXA */
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    padding: 18px;
    border: 0px;
    width: 100%;
    /* FONTE */
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
}

.btn:hover {
    box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.7);
}

.Btn3:hover {
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.623);
}

/* SLIDE */
.slide-container {
    width: 100%;
    overflow: hidden; 
}

.slide {
    display: flex;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    -webkit-overflow-scrolling: touch; 
}

.banner {
    scroll-snap-align: start; 
    border-radius: 25px;
    margin-right: 20px;
    flex: 0 0 auto; 
    width: 100%;
}

iframe.banner {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

@media (min-width: 1024px) {
    .banner {
        width: 60%;
    }

    iframe.banner {
        width: 60%; 
    }
}

/* INFO LOCAL */
@media (max-width: 600px) {
    .info-local {
        flex-direction: column; 
    }
}

#RedBox2 {
    background: linear-gradient(to left, rgba(211, 73, 73, 1), rgba(145, 17, 16, 1));
    margin: 20px 0px 30px 0px;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly; /* Centraliza os itens horizontalmente */
    flex-wrap: wrap;
}

#local {
    width: 30px;
}